# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*main
*ftl_simulator
*ray_tracer
*tone_mapper
*path_tracer

# Images
*ppm
*ply

# Depuration
*.dSYM
*.vs*

# Other
*.DS_Store
